* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 90%;
    padding-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}
.heading {
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
}
